
{% extends '@!EasyAdmin/layout.html.twig' %}
{% block page_title %}
    SimpliCV Dashboard
{% endblock %}
{% block main %}
    <div class="row">
        <h2>Derniers modèles </h2>
    </div>
{% endblock %}