<h1>Finalisez la création de votre compte !</h1>
<p>
    Bonjour, 
 
Votre adresse e-mail a bien été enregistrée sur SimpliCV. Pour valider votre compte et commencer à créer vos CV sur notre site, veuillez compléter votre profil en cliquant sur le lien ci-dessous :
<br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse-email</a>.
    Ce lien expire d'ici {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p> à bientôt !</p>
